/* Start Variables */
:root {
  --main-color: #435058;
  --holding-color: #848c8e;
  --second-color: #dcf763;
  --transition-time: 0.5s;
  --secion-padding: 60px;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Syne", sans-serif;
}

ul {
  list-style: none;
}

.container {
  padding: 0px 15px;
  margin: 0px auto;
}

/* Small */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Components */
/* End Components */
/* Start Header */
.header {
  color: white;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container img {
  width: 150px;
}
.header .container nav ul {
  display: flex;
}
@media (max-width: 767px) {
  .header .container img {
    width: 100px;
  }
  .header .container nav {
    display: none;
  }
}
.header .container nav ul li {
  padding: 10px;
  margin: 5px;
  transition-duration: var(--transition-time);
}
.header .container ul li:hover {
  background-color: var(--main-color);
  color: var(--second-color);
  border-radius: 20px;
}
.header .container .sign-in > :not(last-child) {
  margin-right: 10px;
}
.header .container .sign-in > i {
  font-size: 10px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid white;
}
.header .container .sign-in > i:hover {
  background-color: var(--main-color);
  color: var(--second-color);
  border: none;
  transition-duration: var(--transition-time);
}

.header .container .sign-in button {
  width: 120px;
  color: black;
  text-align: center;
  border: 1px solid black;
  background-color: var(--second-color);
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
}
.header .container .sign-in button p {
  display: inline;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .header .container .sign-in .button {
    display: none;
  }
}
/* End Header */
/* Start Landing */
.landing {
  color: white;
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url(../images/Landing.jpg);
  background-size: cover;
  position: relative;
}

.landing .container {
  padding: var(--secion-padding) 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.landing .container .info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing .container .info img {
  height: 250px;
}
.landing .container .info .text {
  padding: 30px;
  width: 400px;
  text-align: center;
}
@media (max-width: 767px) {
  .landing .container .info .text {
    display: none;
  }
}
.landing .container .text > p:first-of-type {
  font-size: 60px;
}
.landing .container .text > p:last-of-type {
  color: var(--holding-color);
}
.landing .container .text button {
  display: inline;
  margin: 30px 5px 0px 0px;
  width: 120px;
  height: 35px;
  font-size: 15px;
  border: none;
  background-color: var(--second-color);
  border-radius: 20px;
  cursor: pointer;
}

.landing .container .text button:first-of-type {
  background-color: var(--holding-color);
}
.landing .container .text button i {
  font-size: 10px;
}
.landing .container .search {
  text-align: center;
  width: 80%;
  background-color: gray;
  padding: 20px 50px;
  margin-top: 30px;
  border-radius: 30px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .landing .container .search {
    overflow: hidden;
  }
}
.landing .container .search form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 40px;
  max-width: 100%;
}

.landing .container .search form::placeholder {
  color: white;
}

.landing .container .search form i {
  position: absolute;
  top: 50%;
  left: 30px;
  color: black;
  transform: translateY(-50%);
}

.landing .container .search form input[type="Search"] {
  border: 1px solid white;
  max-width: 100%;
  padding: 20px 20px 20px 60px;
  background-color: #eee;
  caret-color: var(--main-color);
  width: 100%;
  border-radius: 30px;
}

.landing .container .search form input[type="submit"] {
  position: absolute;
  width: 120px;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  background-color: var(--main-color);
  color: white;
  border-radius: 30px;
  right: 10px;
}

.landing .container .search form input[type="Search"]:focus,
.landing .container .search form input[type="submit"]:focus {
  outline: none;
}
.landing .container .search .photos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}
.landing .container .search .photos .image {
  position: relative;
  padding: 0px 5px;
  background-color: white;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  transition-duration: var(--transition-time);
}
.landing .container .search .photos .image:hover {
  transform: translateY(-10px);
}
.landing .container .search .photos .image span {
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: -15%;
  left: 50%;
  border-radius: 50%;
  background-color: white;
  transition-duration: var(--transition-time);
}
.landing .container .search .photos .image:hover span {
  border: 1px solid black;
  background-color: var(--second-color);
}
.landing .container .search .photos .image img {
  width: 100px;
  padding: 10px;
  position: relative;
  bottom: -5px;
}
@media (max-width: 1191px) {
  .landing .container .search .photos .image img {
    width: 60px;
    padding: 5px;
  }
  .landing .container .search .photos .image span {
    display: none;
    transform: none;
  }
}
/* End Landing */
/* Start Category */
.category .container {
  padding: var(--secion-padding);
}
.category .container .head {
  display: flex;
  justify-content: space-between;
}
.category .container .head span {
  font-weight: bold;
  font-size: 20px;
}
.category .container .head .arrows {
  display: flex;
  justify-content: space-between;
  width: 70px;
}
.category .container .head .arrows button {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
}
.category .container .head .arrows button i {
  position: absolute;
  left: 25%;
  top: 25%;
}
.category .container .head .arrows button:hover {
  background-color: var(--main-color);
  border: none;
  color: var(--second-color);
  transition: var(--transition-time);
}
.category .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-top: 20px;
  gap: 20px;
}
.category .container .content .card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  transition: 0.3s;
}
.category .container .content .card:hover {
  box-shadow: 5px 5px 10px var(--main-color);
}
.category .container .content .card .info {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.category .container .content .card .info :first-child {
  font-size: 16px;
  text-transform: uppercase;
}
.category .container .content .card .info :last-child {
  color: var(--holding-color);
  font-size: 13px;
}
/* End Category */
